*{
    font-family: YuGothic,"游ゴシック","メイリオ",Meiryo,"ヒラギノ角ゴ pro W3","Hiragino Kaku Gothic Pro",sans-serif;
    margin:0px;
    padding:0px;
}
body{
    background-color:#FFFFF0
}
body h3{
    font-size:16px;
}
header{
    background-image: url(wall.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    text-align:center;
    color:#696969;
}
header h1{
    padding-top:200px;
    font-size:60px
}
header h1 span{
    font-size:40px;
}
header h2{
    padding-bottom:80px;
    font-size:20px;
}
.panel-heading{
    font-size:20px;
}

/*#backimage img{
    width:100%;
    text-align:center;
}*/