*{
    font-family: YuGothic,"游ゴシック","メイリオ",Meiryo,"ヒラギノ角ゴ pro W3","Hiragino Kaku Gothic Pro",sans-serif;
    margin:0px;
    padding:0px;
}
body{
    background-color:#FFFFF0
}
header{
    background-image: url(wall.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    text-align:center;
    color:#696969;
}
header h1{
    padding:200px 0px 30px 0px;
    font-size:60px
}
header h1 span{
    font-size:40px;
}
#introduction p{
    font-size:20px;
}
#message{
    padding:50px 0px;
    font-size:20px;
}
.panel-heading{
    font-size:20px;
}
.panel-body{
    font-size:18px;
}
.panel-body span{
    font-size:16px;
}